header {
    text-align: center;
}

body {
    background-color: #f5f5f5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
    margin: 0;
}

h1,
h2 {
    text-align: center;
    font-size: 3vh;
}

button {
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #3498db;
    color: white;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #2980b9;
}

button:active {
    background-color: #1f618d;
}

select {
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    color: #333;
    cursor: pointer;
    transition: border-color 0.3s, background-color 0.3s;
}

select:focus {
    outline: none;
    border-color: #999;
}

main {
    display: flex;
    justify-content: center;
}

#mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 2vh;
}

#subtitulos,
#titulos {
    display: flex;
    width: 80vw;
    justify-content: flex-start;
}
#subtitulos p,
#titulos p {
    width: 10%;
    text-align: center;
    font-size: 1.25em;
}

#subtitulos div,
#titulos div {
    width: 80%;
    display: flex;
    justify-content: center;
}

#guitarraContainer,
#containerJuego {
    display: flex;
    width: 80vw;
    height: 40vh;
}

#guitarra,
#guitarraJuego {
    display: flex;
    width: 80%;
    border-left: 6px solid #333;
    background-color: #e0e0e0;
}

#guitarraNotasAfinacion,
#guitarraNotasAcorde,
#guitarraNotasJuego {
    display: flex;
    flex-direction: column-reverse;
    width: 10%;
    justify-content: space-around;
}

#guitarraNotasAfinacion div,
#guitarraNotasJuego div {
    text-align: center;
    font-size: 4vh;
}

#guitarraNotasAcorde div {
    text-align: center;
    font-size: 4vh;
    color: #004599;
}

#acordeForm {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#botonesConfig {
    display: flex;
    justify-content: center;
}

#configuracionAcorde {
    display: flex;
    justify-content: center;
}

#opcionesContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
}

#opcionesContainer button {
    flex: 1;
    max-width: 33%;
    font-size: 4vw;
    padding: 10px;
}

#configContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

#estadoJuego {
    display: flex;
    justify-content: flex-end;
}

#temporizador {
    flex: 1;
    font-size: 3vh;
    padding: 10px;
    margin: 10px;
    color: #333;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: right;
}

#puntuacion {
    flex: 1;
    font-size: 3vh;
    padding: 10px;
    margin: 10px;
    color: #333;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: left;
}


.cuerda {
    height: 0.75vh;
    width: 100%;
    background-color: #999;
    position: relative;
    cursor: pointer;
}

.traste {
    flex-grow: 1;
    display: flex;
    width: auto;
    height: auto;
    border: 1px solid #333;
    flex-direction: column;
    justify-content: space-around;
}

.dedo {
    margin: 0 auto;
    width: 3.5vw;
    height: 3.5vw;
    background-color: #004599;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.punto {
    position: relative;
}

.punto::after {
    content: '';
    width: 10px;
    height: 10px;
    background-color: rgb(53, 53, 53);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.doble-punto {
    position: relative;
}

.doble-punto::after,
.doble-punto::before {
    content: '';
    width: 10px;
    height: 10px;
    background-color: rgb(53, 53, 53);
    border-radius: 50%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.doble-punto::after {
    top: 33%;
}

.doble-punto::before {
    top: 66%;
}